
body { 
    font-family: sans-serif;
    color: #777777;
}

header {
    display: block;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #cccccc; 
}

.header {
    width: 960px;
    overflow: hidden;
    margin: auto;
}

.container-content { 
    display: block; 
    background-color: #ffffff;
    width: 960px; 
    margin: auto;   
    overflow: hidden; 
}

h1 {
    font-family: Georgia;
    float: left; 
    background-color: #4aaaa5;
    color: #fff;
    padding: 30px 20px 30px 20px;  
    margin: auto;
}

h1:active {
    background-color:#000;
}


h2 { 
    font-family: Georgia;
    color: #4aaaa5;
    font-size: 26px;  
    border-bottom: 2px solid #cccccc;
    padding: 10px 0px 30px 0px;
}


.paragraph {
    font-size: 24px; 
}

.navbar {
    display: inline;
    float: right;
    padding: 10px 0 10px 0; 
}
.navbar li { 
    font-family: sans-serif;
    font-size: 20px; 
    line-height: 40px; 
    display: inline; 
    padding: 0 10px 0 10px;
}

.navbar li a:hover {
    color: blue;
}

.navbar li a {
    color:#777777;
    text-decoration: none; 
}

li~li { 
    border-left: 1px solid #777777;
}

.content {
    float: left;
    width: 650px;
}

.content a {
    color: #777777;
    font-size: 16px; 
    line-height: 20px; 
}

.sidebar {
    float: right;
    width:270px;
}

footer { 
    background-color: #666666;
    margin: auto; 
    text-align: center;
    padding: 40px;
    border-top: 7px solid #4aaaa5;
    font-size: 14px; 
    color: #fff;
}
