.title {
    text-align: left; 
}

.about-container {
    display: flex;
    padding: 100px 20px 0 20px;
}

.about-details {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.about-title {
    float: left; 
}

.sub-title {
    text-align: left;
    max-width: 80%; 
}

.about-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.mugshot-container img {
    width: 300px;
    border-radius: 30px;
}

.button {
    margin: 5px; 
}

.about-paragraph {
    color: #fff;
    text-align: left;
    padding: 10px;
}
  
.typewriter h3 {
    color: #fff;
    overflow: hidden; 
    border-right: .15em solid white;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(46, end),
      blink-caret .5s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }


  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #646cff;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  


@media screen and (max-width: 767px) {

    h1 {
        font-size: 8vw;
    }

    h3 {
        font-size: 3vw;
    }

    p {
        word-wrap: break-word;
        font-size: 3vw;
    }

    .about-paragraph {
        max-width: 100%;
    }

    .about-container {
        flex-direction: column;
        padding: 5px;
    }

    .about-details {
        width: 100%;
        height: auto;
    }

    .about-hero {
        width:100%; 
    }
    
    .mugshot-container {
        width: 100%; 
    }

    .mugshot-container img {
        margin: 5px 0px 5px 0px;
    }

    .typewriter h3 {
        border-right: .15em solid white; /* The typwriter cursor */
        letter-spacing: .1em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(43, end),
          blink-caret .5s step-end infinite;
      }
      
    @keyframes typing {
        from { width: 0 }
        to { width: 90% }
    }
  }