.title {
    text-align: left; 
}

.about-container {
    display: flex;
    padding: 100px 0 0 0;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-template-rows: repeat(3, 200px);
    margin: 10px;
}

.about-details {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 60%;
}

.about-title {
    float: left; 

}

.about-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 40%;
    vertical-align: middle;
}

.mugshot-container img {
    width: 300px;
    border-radius: 30px;
}

.button {
    margin: 5px; 
}

.about-paragraph {
    color: #fff;
    text-align: left;
    padding: 10px;
}
  
.typewriter h3 {
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .26em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }


@media screen and (max-width: 768px) {
    .about-details {
        width: 100vh;
    }

    .about-hero {
        width: 100vh;
    }
  }