@import "./Skills.css";

.experience-info {
    text-align: left;
}

.experience-container {
    display: flex;
    
    flex-direction: column;
    color: white; 
}

.company-logo {
    width: 150px;
    height: auto; 
}

.experience-card {
    margin: 1em;
    padding: 1rem 1.5rem 1rem 1.5rem;
    flex-direction: column;
    text-align: left; 
    transition: all .2s ease-in-out;
}


.experience-card:hover {
    transform: scale(1.02);
}

.experience-info {
    width: 100%; 
    display: inline-block; 
    flex-direction: row;
}

.experience-h1 {
    text-align: left;
}

.experience-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    float: left;
}


.experience-job-name {
    margin-left: 10px;
    display: block; 
    float: left;
}


.experience-description {
    margin-bottom: 15px;
}

.start-end-dates { 
    float: right; 
    color: rgb(210, 210, 210);
}


.border-gradient {
    border: 1px solid rgb(229, 186, 229);
    border-radius: 20px; 
    border-image-slice: 1;
    border-width: 1px;
  }

.border-gradient:hover {
    border: 1px solid rgb(223, 64, 223);
    box-shadow: 0px 0px 5px white;
    transition: border-width 0.2s linear;
}




@media screen and (max-width: 767px) {
    
    .experience-image {
        max-width: 50%;
    }

    .company-logo {
        max-width: 100%;
    }
    .experience-description {
        font-size: 4vw;
    }

    .experience-card {
        padding: 5px 10px 5px 10px;
        margin: 0.5rem;
        flex-direction: column;
    }


    .experience-job-name {
        margin: 0;
        text-align: center;
        width: 50%;
    }
    .experience-image {
        width: 50%;
    }

    .experience-info {
        width: 100%;
        padding:auto;
    }

}