@import './Common.css';
.repo a { 
    color:#4493f8; 
}

.repo a:visited { 
    color:#4493f8; 
}

.ghrepo-container {
    width: 100%; 
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.ghrepo-card {
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
    min-height: 150px;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #0d1117;
    transition: all .2s ease-in-out;
}

.ghrepo-card:hover {
    transform: scale(1.02);
}

.repoName {
    margin: 0 0 8px;
    font-size: 18px;
    color: #4493f8;
}

.description {
    font-size: 14px;
    color: white;
    text-align: left; 
}

.meta {
    display: "flex";
    justify-content: "space-between";
    margin-top: 8px;
    font-size: 12px;
    color: #777;
}


@media screen and (max-width: 767px) {

    .ghrepo-container {
        grid-template-columns: 1fr;
    }
    
    .description {
        padding: 0;
    }
    
}