@import './Common.css';

.repo a:visited { 
    text-decoration: none; 
    color:#4493f8; 
}

.ghrepo-container {
    border: 1px solid #3d444d;
    border-radius: 20px;
    padding: 16px;
    max-width: 400px;
    margin: 16px auto;
    background-color: #0d1117;
}

.repoName {
    margin: 0 0 8px;
    font-size: 18px;
    color: #4493f8;
}

.description {
    font-size: 14px;
    color: white;
    text-align: left; 
}

.meta {
    display: "flex";
    justify-content: "space-between";
    margin-top: 8px;
    font-size: 12px;
    color: #777;
}


@media screen and (max-width: 767px) {

    .ghrepo-container {
        margin: 1em;
    }
}