
body {
    margin: 0;
  }

  .navbar-container {
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .navbar-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 20px;
  }
    
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links li {
    margin: 0 1rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #ff9800;
  }

.menu {
  display: flex;
}

.hamburger {
  display: none;
}

  
  /* Responsive Design */
@media screen and (max-width: 767px) {
    .navbar { 
      width: 100%; 
    }
    .navbar-container {
      justify-content: right;
    }

    .menu.active {
      display: inline-block;
      width: 100%; 
    }

    .navbar-links {
      display: flex;
      color: black; 
      flex-direction: column;
      padding: 1rem; 
    }

    .navbar-links a {
      display: inline-block;
      width: 100%; 
    }
    
    .navbar-links li {
      background-color: white;
      display:table-cell; 
      margin: 5px;
      border-radius: 10px;
      height: 30px;
      padding: 5px 0px 5px 10px;
    }

    .navbar-links a {
      color: black;
      font-size: 6vw;
      border-radius: 20px; 
      border-radius: 20px; 
    }

    .navbar-links a {
      color: black;
      font-size: 6vw;
      border-radius: 20px; 
      border-radius: 20px; 
    }

    .hamburger {
      display: flex;
      float: right;
      padding: 15px;
    }
}