
body {
    margin: 0;
  }

  .navbar-container {
    display: flex; 
    
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    padding: 0.8rem 1.5rem;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 1rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #ff9800;
  }

.about-links {
  display: flex;
}

.about-links a {
  margin: 5px;
}

.about-links svg {
  margin: 5px;
}

  
  /* Responsive Design */
@media screen and (max-width: 767px) {
    .navbar-links {
      flex-direction: column;
      display: none;
    }
  
    .navbar-links.active {
      display: none;
    }

    .about-links {
      flex-direction: column;
      display: none;
    }
  }